@font-face {
  font-family: "montserrat";
  src: url("fonts/webfontkit-20210909-062228/montserrat-regular-webfont.woff2")
    format("woff2");
}

footer {
  display: flex;
  justify-content: center;
  gap: 15vw;
  margin-top: 40vw;
  background-color: #919ab5;
  color: white;
  padding: 3vw;
  text-align: center;
  font-size: 0.7rem;
}

button:hover {
  text-decoration: underline;
}

#logo img {
  width: 4vw;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 4vw;
  margin-left: 4vw;
}

h1 {
  font-size: 2rem;
  color: white;
  margin-top: 20vw;
  text-align: center;
}

#logocontainer {
  color: white;
  font-weight: 400;
  margin-top: 5vw;
  align-items: center;
  gap: 0;
}
/* --------------------------Css for destinationer-------------------------------*/

#destinationer {
  background: url(billeder/baggrund.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: montserrat;
}

#destinationer nav {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin-top: 5vw;
  margin-bottom: 10vw;
}

img {
  max-width: 100%;
  height: auto;
}

#alle_overskrift {
  font-size: 1.5rem;
}

#destinationer h2 {
  color: white;
  text-align: center;
}
#destinationer article {
  display: grid;
  place-items: center;
}

#destinationer #destination_article {
  position: relative;
}
#destinationer #destination_article h2 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.61);
  padding: 1vw 4vw 1vw 4vw;
  bottom: 1;
  font-size: 1.5rem;
}

article,
button {
  cursor: pointer;
  border-style: none;
  background-color: transparent;
  font-size: 1rem;
}

/* --------------------------Css for popUp-------------------------------*/

#popup_container {
  display: flex;
  justify-content: center;
}

#popup {
  position: fixed;
  top: 0;
  display: none;
  width: 90%;
  margin-top: 2vw;
}

#popup img {
  max-width: fit-content;
}

#popup article {
  background-color: #919ab5;
  border-style: none;
  overflow: scroll;
  height: 90vh;
}

#popup p {
  width: 85%;
}

#popup button {
  border-style: none;
  font-size: 1rem;
  margin-top: 5vw;
}

/* --------------------------Css for forsiden-------------------------------*/

#forside {
  background: url(billeder/baggrund.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: montserrat;
}

#forside header {
  display: flex;
  justify-content: center;
  margin-bottom: 8vw;
}

#forside main {
  margin-left: 10vw;
  margin-right: 10vw;
}

#forside button {
  border-style: none;
  border-radius: 1vw;
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
  padding: 2vw 0vw 2vw 0vw;
  font-size: 1.5rem;
}

#forside nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
}
#forside_tekst {
  display: flex;
  justify-content: center;
  gap: 8vw;
  margin-top: 4vw;
}

#p_right,
#p_left {
  color: white;
  padding: 2vw;
  border-radius: 1vw;
}

#forside p {
  font-size: 0.7rem;
}

#forside h2 {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 12vw;
}

#forside h3 {
  color: white;
  text-align: center;
  font-size: 1rem;
}

/* --------------------------Css for ipad-------------------------------*/

@media (min-width: 600px) {
  #destinationer nav button {
    font-size: 1.2rem;
    margin-top: 0;
  }

  #destinationer section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #alle_overskrift {
    font-size: 2rem;
  }

  #logo img {
    width: 3vw;
  }

  h1 {
    font-size: 2.5rem;
    color: white;
  }

  #forside p {
    font-size: 0.9rem;
  }

  #forside h2 {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 12vw;
  }

  #forside h3 {
    color: white;
    text-align: center;
    font-size: 1.2rem;
  }

  #popup {
    width: 70%;
  }

  #popup p {
    width: 90%;
  }
  footer {
    font-size: 0.9rem;
  }
}

/* --------------------------Css for stor skærm-------------------------------*/

@media (min-width: 1000px) {
  #destinationer nav button {
    font-size: 1.5rem;
    margin-top: 0;
  }

  #destinationer section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #forside nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
  }
  #forside button {
    padding: 4vw 0vw 4vw 0vw;
    font-size: 2.5rem;
  }

  h1 {
    font-size: 3rem;
  }
  #forside p {
    font-size: 1rem;
  }

  #alle_overskrift {
    font-size: 2.5rem;
  }

  #logo img {
    width: 2.5vw;
  }

  #popup {
    width: 50%;
  }

  #popup p {
    width: 90%;
  }
  footer {
    font-size: 1rem;
  }
}

.hide {
  display: none;
}
