html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overscroll-behavior-y: contain;
}

body {
  margin: 0px;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1300px) 1fr;
}

#logo img {
  width: 30px;
  height: auto;
  /* position: absolute; */
  left: 0;
  top: 0;
}

#logo {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

h1 {
  font-size: 1.7rem;
  font-weight: 600;
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

footer {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 10vh;
  background-color: #919ab5;
}

footer p {
  font-weight: 500;
}

#logocontainer {
  display: flex;
  position: fixed;
  color: white;
  align-items: center;
  gap: 0.3rem;
  margin-left: 5vw;
  margin-top: 5vw;
}
#logocontainer a {
  text-decoration: none;
  color: black;
}

/* --------------------------Css for destinationer-------------------------------*/

.destinationer_header {
  grid-column: 2/3;
  padding-top: 4rem;
  margin-left: 5vw;
  margin-right: 5vw;
}

#destinationer {
  background: url(billeder/baggrund.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: montserrat;
}

#destinationer nav {
  display: flex;
  justify-content: center;
  gap: 4vw;
  margin-top: 2vh;
  margin-bottom: 10vh;
  grid-column: 2/3;
  margin-left: 5vw;
  margin-right: 5vw;
}

img {
  width: 100%;
  height: 60%;
}

#alle_overskrift {
  font-size: 1.5rem;
  grid-column: 2/3;
}

#destinationer h2 {
  color: white;
  text-align: center;
}
#destinationer article {
  display: grid;
  place-items: center;
}

#destinationer #destination_article {
  position: relative;
}
#destinationer #destination_article h2 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.61);
  padding: 1vw 4vw 1vw 4vw;
  bottom: 1;
  font-size: 1.5rem;
}

#liste {
  display: grid;
  grid-column: 2/3;
  gap: 2rem;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
}

article,
button {
  cursor: pointer;
  border-style: none;
  background-color: transparent;
  font-size: 1rem;
}

.valgt {
  color: white;
  text-decoration-line: underline;
}

figure {
  width: 100%;
  height: 100%;
}

figure img {
  width: 100%;
  height: 100%;
}

/* --------------------------Css for popUp-------------------------------*/

#popup_container {
  display: flex;
  justify-content: center;
  grid-column: 2/3;
}

#popup {
  position: fixed;
  top: 0;
  display: none;
  width: 90%;
  top: 5%;
}

#popup img {
  max-width: fit-content;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
}

#popup figure {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
}

#popup article {
  background-color: #919ab5;
  border-style: none;
  /* overflow: scroll; */
  height: 90vh;
}

#popup p {
  width: 85%;
}

#popup h2 {
  margin-top: 0;
  margin-bottom: 0;
}

#popup button {
  border-style: none;
  font-size: 1rem;
}

/* --------------------------Css for forsiden-------------------------------*/

.menu {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding-top: 2rem;
}

#forside {
  background: url(billeder/baggrund.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: montserrat;
}

#forside header {
  display: flex;
  justify-content: center;
}

#forside main {
  margin-left: 5vw;
  margin-right: 5vw;
}

main {
  scroll-snap-type: y mandatory;
}

.section_1 {
  scroll-snap-align: start;
  display: grid;
  height: 100vh;
  align-items: center;
  grid-column: 2/3;
}

.section_2 {
  scroll-snap-align: start;
  height: 100vh;
  display: grid;
  align-items: center;
  grid-column: 2/3;
}

.section_2 {
  scroll-snap-align: start;
  height: 100vh;
  display: grid;
  align-items: center;
  grid-column: 2/3;
}

.section_2 {
  scroll-snap-align: start;
  height: 100vh;
  display: grid;
  align-items: center;
  grid-column: 2/3;
}

.section_3 {
  grid-column: 2/3;
}

#p_left {
  background-color: #919ab5;
  box-shadow: 4px 4px #00000075;
}

#p_left p {
  background-color: #919ab5;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

#p_right {
  background-color: #919ab5;
  box-shadow: 4px 4px #00000075;
}

#p_right p {
  background-color: #919ab5;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

#forside button {
  border-style: none;
  border-radius: 1vw;
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
  padding: 3vw 0vw 3vw 0vw;
}

#forside nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
}
#forside_tekst {
  justify-content: center;
  gap: 8vw;
}

#p_right,
#p_left {
  color: white;
  border-radius: 1vw;
  padding: 0.5rem;
  background-color: #919ab5;
}

#forside h2 {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

#forside h3 {
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

#forside_tekst {
  justify-content: center;
  display: grid;
}

.section_3 h2 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.section_3 p {
  font-weight: 400;
  padding-bottom: 3rem;
  color: grey;
  line-height: 1.8;
}

form textarea {
  border: none;
  resize: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
  border-radius: 1vw;
  padding-right: 0px;
}

form input {
  border: none;
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
  border-radius: 1vw;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

input::placeholder {
  color: white;
  opacity: 1;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

textarea::placeholder {
  color: white;
  opacity: 1;
  padding-left: 0.5rem;
}

#submit_knap button {
  background-color: black;
  color: white;
  font-weight: 500;
  text-align: center;
  border: none;
  width: 80px;
  cursor: pointer;
  padding: 2vw 0vw 2vw 0vw;
}

.form_placering {
  width: 100%;
}

#submit_knap {
  padding-top: 1.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

.section_3 {
  display: grid;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90vh;
  scroll-snap-align: start;
}

.form_container_1 {
  display: grid;
  gap: 0.5rem;
}

form {
  display: grid;
  gap: 1.5rem;
  width: 100%;
}

.section_1_wrapp {
  display: grid;
  gap: 2rem;
}

/* --------------------------Css for ipad-------------------------------*/

@media (min-width: 600px) {
  #destinationer nav button {
    font-size: 1.2rem;
    margin-top: 0;
  }

  #destinationer section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .destinationer_header {
    grid-column: 2/3;
    padding-top: 9rem;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  #alle_overskrift {
    font-size: 2rem;
  }

  #logo img {
    width: 3vw;
  }

  h1 {
    font-size: 2.5rem;
    color: white;
  }

  #forside p {
    font-size: 0.9rem;
  }

  #forside h2 {
    color: white;
    text-align: center;
    font-size: 2rem;
  }

  #forside h3 {
    color: white;
    text-align: center;
    font-size: 1.2rem;
  }

  #popup {
    width: 70%;
  }

  #popup p {
    width: 90%;
  }
  footer {
    font-size: 0.9rem;
  }

  #forside_tekst {
    justify-content: center;
    gap: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #forside_tekst p {
    line-height: 1.3;
  }
}

/* --------------------------Css for stor skærm-------------------------------*/

@media (min-width: 1000px) {
  #destinationer nav button {
    font-size: 1.5rem;
    margin-top: 0;
  }

  #destinationer section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #forside nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
  }
  #forside button {
    padding: 3vw 0vw 3vw 0vw;
    font-size: 2.5rem;
  }

  h1 {
    font-size: 3rem;
  }
  #forside p {
    font-size: 1rem;
  }

  #forside_tekst {
    gap: 2vw;
  }

  #p_left {
    padding: 4.5rem;
  }

  #p_right {
    padding: 4.5rem;
  }

  #alle_overskrift {
    font-size: 2.5rem;
  }

  #logo img {
    width: 2.5vw;
  }

  #popup {
    width: 50%;
  }

  #popup p {
    width: 90%;
  }
  footer {
    font-size: 1rem;
  }

  .hide {
    display: none;
  }

  .section_1_wrapp {
    display: grid;
    gap: 1rem;
  }

  #submit_knap button {
    background-color: black;
    color: white;
    font-weight: 500;
    text-align: center;
    border: none;
    width: 80px;
    cursor: pointer;
    padding: 2vw 0vw 2vw 0vw;
    font-size: 1rem;
  }

  #forside h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
}
